*__pycache__*
*egg-info*
outputs*
multirun*
cross_eval/*
saves*
_saves*
log
venv
.temp

*.swp
submitit_logs

user_defined_freezies/*.npy
.idea
wandb
.DS_Store
wandb_cache
wandb_output_*

error_logs
output_logs
notebook/.temp
/LM_weights/

../multigame-pcgrl/pcgrl_buffer


# 機械学習のチェックポイントやモデル出力を追跡対象外にする
dpo/
*.pt
*.safetensors
*.bin
*.pth